a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-size: 15px;
  line-height: 24px;
}

/* Used in our inline-styles.jsx as an example */
.muidocs-checkbox-example {
  border: 2px solid #FF9800;
  background-color: #4CAF50;
}

.sl-add-btn {
  float: right;
  margin: 25px 50px 15px 7px;
}

.box {
  width: 800px;
  margin: 0 auto 0 auto;
}

.item-box {
  margin: 0;
  padding: 20px;
  list-style-type: none;
}

.item-header {
  font-size: 24px;
  padding: 10px;
}

.item-title {
  font-size: 20px;
}

.item-t {
  padding: 0 0 0 35px;
  font-size: 16px;
}

.item-cost {
  font-size: 52px;
  font-weight: bold;
  margin-top: 23px;
}

.item-avatar {
  margin-right: 5px;
}

.item-btn {
  margin: 0 0px 0px 10px;
  width: 120px;
}

.item-btn-panel {
  margin: 20px auto 20px 16px;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }