a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-size: 15px;
  line-height: 24px;
}

/* Used in our inline-styles.jsx as an example */
.muidocs-checkbox-example {
  border: 2px solid #FF9800;
  background-color: #4CAF50;
}

.sl-add-btn {
  float: right;
  margin: 35px 35px 15px 7px;
}

.box {
  width: 800px;
  margin: 0 auto 0 auto;
}

.item-box {
  margin: 0;
  padding: 20px;
  list-style-type: none;
}

.item-header {
  font-size: 24px;
  padding: 10px;
}

.item-title {
  font-size: 20px;
}

.item-t {
  padding: 0 0 0 35px;
  font-size: 16px;
}

.item-cost {
  font-size: 28px;
  font-weight: bold;
}

.item-box {
  margin: 0;
  padding-top: 0;
  min-height: 130px;
}

.item-total {
  font-size: 28px;
  margin: 0;
}

.item-your-cost {
  color: #E53935;
  margin: 0;
}

.item-avatar {
  margin-right: 5px;
}

.item-btn {
  margin: 0 0 0 35px;
  width: 120px;
}

.item-btn-panel {
  margin: 20px auto 20px 16px;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }


.login-box {
  width: 35%;
  min-width: 400px;
  margin: 5% auto 0 auto;
  border: 1px solid #E0E0E0;
}

.login-social-btn {
  padding: 0 30px 0 30px;
}

.login-fields {
  padding: 0 30px 0 30px;
  margin: -20px auto 0 auto;
}

.login-btn-bar {
  display: block;
  width: 80%;
  padding: 50px;
}

.login-btn-bar-center {
  display: block;
  width: 100%;
  padding: 20px;
  margin: 0 auto 0 auto;
  text-align: center;
}

.login-new-account-box {
  display: inline;
}

.login-btn {
  display: inline;
  float: right;
}

.login-box header {
  background-color: rgb(0, 188, 212);
  color: #FFF;
  font-weight: bold;
  font-size: 32px;
  padding: 30px;
  border: 2px solid rgb(0, 188, 212);
}

.register-group-field {
  width: 40%;
}

.margin-top-1 { margin-top: 1%; }
.margin-top-3 { margin-top: 3%; }

